<html>
<head />
<body>

<div>

  <span>BOOKMARKED : {{bookmarked}}</span>

  {% if bookmarked %} 
  <a href="/delete/{{url}}"> Remove from to Bookmark</a>      
  {% endif %}

  <div>
    <form action="/update" method="POST">
   {% if type == 'IMMO' %}
      {{form.hidden_tag()}}
	    <span>METADATA</span>
	    <table border="1">
			<tr>
			  <td>{{form.loyer.label}}</td>
			  <td>{{form.surface.label}}</td>
			  <td>{{form.code_postal.label}}</td>
			  <td>{{form.seen.label}}</td>
			  <td>{{form.emailed.label}}</td>
			  <td>{{form.classe.label}}</td>
			  <td>{{form.prix_energie_min.label}}</td>
			  <td>{{form.prix_energie_max.label}}</td>
			  <td>{{form.tel.label}}</td>

			</tr>
			<tr>
			  <td>{{form.loyer}}</td>
			  <td>{{form.surface}}</td>
			  <td>{{form.code_postal}}</td>
			  <td>{{form.seen}}</td>
			  <td>{{form.emailed}}</td>
			  <td>{{form.classe}}</td>
			  <td>{{form.prix_energie_min}}</td>
			  <td>{{form.prix_energie_max}}</td>
			  <td>{{form.tel}}</td>
			</tr>
	    </table>
  {% endif %}
  {% if type != 'IMMO' %}
    {{form.hidden_tag()}}
    <span>METADATA</span>
    <table border="1">
		<tr>
		  <td>{{form.prix.label}}</td>
		  <td>{{form.code_postal.label}}</td>
		  <td>{{form.seen.label}}</td>
		  <td>{{form.emailed.label}}</td>
		  <td>{{form.tel.label}}</td>
		</tr>
		<tr>
		  <td>{{form.prix}}</td>
		  <td>{{form.code_postal}}</td>
		  <td>{{form.seen}}</td>
		  <td>{{form.emailed}}</td>
		  <td>{{form.tel}}</td>
		</tr>
     </table>
  {% endif %}

  {% if bookmarked %} 
      <input type="submit" name="submit" value="Save" />    
  {% else %}
      <input type="submit" name="submit" value="Bookmark" />    
  {% endif %}


</form>
  </div>
</div>
<iframe src="{{url}}" width="100%" height="75%" />

</body>
</html>
